.pagination
	display: flex
	justify-content: center
	padding: 40px 0
	&-left
		padding: 3px 24px
		width: 60px
		height: 35px
		border: 0.5px solid rgba(25, 25, 25, 0.24)
		border-radius: 20px
		margin-right: 16px
	& a
		text-decoration: none
		font-size: 16px
		line-height: 19px
		color: #8791AA
	&-num
		display: flex
		justify-content: center
		align-items: center
		width: 35px
		height: 35px
		background: rgba(25, 25, 25, 0.08)
		border-radius: 20px
		margin-right: 16px
	&-right
		padding: 3px 24px
		width: 60px
		height: 35px
		border: 0.5px solid rgba(25, 25, 25, 0.24)
		border-radius: 20px
.icon-left, .icon-right
	fill: rgb(25, 25, 25)
	fill-opacity: 0.16
